h1 {
  text-align: left;
  color: rgb(23, 23, 134);
  //   border: 1px solid red;
  font-size: 5rem;
  margin-top: 25px;
  padding-bottom: 37px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  //   width: 100%;
}
